//! This shows how to write text over UART0.
//! You can see the output with `espflash` if you provide the `--monitor` option

#![no_std]
#![no_main]

use core::fmt::Write;

use {{ chip }}_hal::{
    clock::ClockControl,
    pac::Peripherals,
    prelude::*,
    timer::TimerGroup,
    Rtc,
    Serial,
};
use esp_backtrace as _;
use nb::block;
use {{ rt }}::entry;

#[entry]
fn main() -> ! {
    {{ setup }}

    let mut serial0 = Serial::new(peripherals.UART0);

    let mut timer0 = timer_group0.timer0;
    timer0.start(1u64.secs());

    loop {
        writeln!(serial0, "Hello world!").unwrap();
        block!(timer0.wait()).unwrap();
    }
}
